/* semantic color variables for this project */
:root {
  --color-background: #fff;
  --color-background-soft: #eee;
  --color-background-mute: #ddd;

  --color-border: #ccc;
  --color-border-hover: #eee;

  --color-heading: #000;
  --color-text: #000;

  --color-accent: #008080;
  --color-accent-deeper: #006060;
  --color-accent-background: #f5ffff;

  --section-gap: 160px;

}

/* TODO dark scheme */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000;
    --color-background-soft: #080808;
    --color-background-mute: #111;

    --color-border: #333;
    --color-border-hover: #111;

    --color-heading: #fff;
    --color-text: #fff;

    --color-accent: green;
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 2;
  font-family: sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Text */
p {
  line-height: 1.5;
}
a {
  color: var(--color-accent);
  transition: 0.3s;
}
strong {
  font-weight: bold;
}

/* UI elements - button, button group */
.btn {
  display: inline-block;
  border-radius: 3px;
  border: var(--color-accent) 1px solid;
  background-color: var(--color-accent-background);
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background-color: var(--color-accent);
}
.btn-group {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
}

/* UI elements - control, control group */
.control,
input[type=text],
input[type=number],
textarea,
select {
  width: 100%;
  padding: 0.4rem;
}
.control-group {
  display: block;
  background-color: #fff;
  padding: 0.5rem 0;
  margin: 1rem 0rem 2rem;
}
.control-group-heading {
  border-bottom: 1px solid var(--color-border);
  font-size: 1.1em;
  font-weight: bold;
  margin: auto auto 0.5rem;
}
label {
  font-weight: bold;
}