/* Text */
h2 {
  border-bottom: 1px solid var(--color-border);
  font-size: 1.1em;
  font-weight: bold;
  width: 100%;
  margin-bottom: 1rem;
}
p {
  line-height: var(--base-line-height);
}
a {
  color: var(--color-accent);
  transition: 0.3s;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
button {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}
.error {
  color: var(--color-error);
}
code {
  display: inline-block;
  background-color: var(--color-background-soft);
  padding: 0 0.3rem;
  border-radius: 5px;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

/* UI elements */
input[type='text'],
input[type='number'],
textarea,
select {
  padding: 0.4rem;
  background-color: var(--color-background-soft);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  width: 6rem;
}
optgroup {
  font-weight: bold;
}
input:invalid,
textarea:invalid,
select:invalid {
  background-color: var(--color-background-invalid);
}
select:invalid {
  background-color: var(--color-background-invalid);
}

/* UI elements - button, button group */
.btn-group {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
}
button,
.btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
  border: var(--color-accent-text-btn) 1px solid;
  background-color: var(--color-accent-background);
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  color: var(--color-accent-text-btn);
}
button:hover,
.btn:hover {
  color: white;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
button:disabled {
  cursor: not-allowed;
  color: var(--color-accent-mute);
}
button:disabled:hover {
  color: var(--color-accent-mute);
  background-color: var(--color-accent-background);
}
input:disabled {
  color: var(--color-accent-mute);
  background-color: var(--color-background-mute);
}
ul.btn-group {
  list-style: none;
  padding-left: unset;
}
ul.btn-group {
  list-style: none;
  padding-left: unset;
}

/* UI elements - control, control group */
.control-group {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem;
  gap: 0.5rem;
  justify-content: space-between;
}
.control {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 0.15rem;
}
.control-group h2 {
  margin-bottom: unset;
}
.control-group label {
  width: 100%;
  font-weight: bold;
}
.control input[type='text'],
.control input[type='number'],
.control textarea,
.control select {
  flex-grow: 1;
}
.control input.half {
  flex-grow: 0.25 !important;
}
.control.checkbox-container {
  flex-flow: unset;
}
.control.checkbox-container label {
  font-weight: normal;
}
.control.radio-group {
  gap: 0.15rem 1rem;
}
.control.radio-group span label {
  font-weight: unset;
}

/* Responding to screen size */
@media (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

/* UI element - expandable section */
.section::after {
  content: ' ▼';
  font-size: 0.5rem;
  color: var(--color-accent-text-btn);
  background-color: var(--color-accent-background);
  border: var(--color-accent-text-btn) 1px solid;
  border-radius: 3px;
  padding: 0.25rem 0.3rem;
  vertical-align: middle;
}
.section.open::after {
  content: ' ▲';
}
.section:hover::after {
  color: var(--color-accent-text);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
p.section {
  font-weight: bold;
  cursor: pointer;
}

/* UI element - question mark with tooltip on hover */
span.info-question {
  background: var(--color-background);
  color: var(--color-text);
  border-color: var(--color-text);
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  padding-left: 4px;
  padding-right: 4px;
  font-size: smaller;

  transition: 0.3s ease;
}
span.info-question::after {
  content: '?';
}
span.info-question:hover {
  background: var(--color-text);
  color: var(--color-background);
  transition: all 0.3s ease;
}

/* Padded box for displaying UI feedback message */
div.alert-box-danger {
  background: var(--color-alert-danger-background);
  border-width: 1px;
  border-radius: 1%;
  border-style: solid;
  border-color: var(--color-alert-danger-border);
  padding: 8px;
}
p.alert-message-danger {
  color: var(--color-alert-danger);
}
